.total_body {	/* 전체 크기 */
	scrollbar-face-color: #F6F6F6;
	scrollbar-highlight-color: #bbbbbb;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #bbbbbb;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #bbbbbb;
	
}

td {
/* 	font-family: "돋움"; */
	font-size: 12pt;
	color: #595959;
}

th {
/* 	font-family: "돋움"; */
	font-size: 12pt;
	color: #000000;
}

select {
/* 	font-family: "돋움"; */
	font-size: 15pt;
	color: #595959;
}

.divDotText {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* A:link {
	font-size: 20pt;
	font-family: "돋움";
	color: #000000;
	text-decoration: none;
} */

/* A:visited {
	font-size: 20pt;
	font-family: "돋움";
	color: #000000;
	text-decoration: none;
} */

/* A:active {
	font-size: 20pt;
	font-family: "돋움";
	color: red;
	text-decoration: none;
} */

/* A:hover {
	font-size: 20pt;
	font-family: "돋움";
	color: red;
	text-decoration: none;
} */

.day {
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.sat {
	color: #529dbc;
}

.sun {
	color: red;
}

.today_button_div {
	float: right;
}

.today_button {
	width: 100px;
	height: 30px;
}

.frame{
	text-align:center;
    float:left;
    width:100%;
}

.calendar {	/* 캘린더 바디 */
	display: inline-block;
	width: 1000px; 
	margin-top: 10px;
	margin-left:20px;
	margin-left:20px;
	background-color:white;
}

.searchBar{	/* 검색을 위한 div */
	padding-top:10px;
	width: 97%;
	float:right;
	
}

.searchBar .search{	/* 검색 text */
	width:200px;
	height:20px;
	float:right;
	border-style: none;
    border-bottom: 1px solid;
    outline:none; 
    
}

.searchBar .search:focus{	/* 검색 text focus 이벤트 */
	transition:0.3s ease;
	border-bottom:1px solid #ff8400;
}

.searchBar .search_btn{	/* 검색 버튼 div */
	width:25px;
	height:25px;
	margin-left:10px;
	margin-right:10px;
	float:right;
	background-image: url('../ledgerimg/search_icon (black).png');
	background-repeat: no-repeat;
	background-position:conter center;
	background-size:100% 100%;
}

.searchBar .search_btn:hover{	/* 검색 버튼 hover 이벤트*/
	/* background-color : #ff8200; */
	/* color:white; */
	cursor:pointer;
}

.navigation {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 25px;
	vertical-align: middle;
}

.calendar_body {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid white;
	margin-bottom: 50px;
	border-collapse: collapse;
}

.calendar_body .today {
	border: 1px solid white;
	height: 120px;
	background-color: #c9c9c9;
	text-align: left;
	vertical-align: top;
}

.calendar_body .date {
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}

.calendar_body .sat_day {
	border: 1px solid white;
	height: 120px;
	background-color: #EFEFEF;
	text-align: left;
	vertical-align: top;
}

.calendar_body .sat_day .sat {
	color: #529dbc;
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}

.calendar_body .sun_day {
	border: 1px solid white;
	height: 120px;
	background-color: #EFEFEF;
	text-align: left;
	vertical-align: top;
}

.calendar_body .sun_day .sun {
	color: red;
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}

.calendar_body .normal_day {
	border: 1px solid white;
	height: 120px;
	background-color: #EFEFEF;
	vertical-align: top;
	text-align: left;
}

.before_after_month {
	margin: 10px;
	font-weight: bold;
	font-size:20pt;
	text-decoration: none;
	color:black;
}

.before_after_year {
	font-weight: bold;
	font-size:20pt;
	text-decoration: none;
	color:black;
/* 	font-size:15px; */
}

.before_after_month:hover {
	font-size: 20pt;
/* 	font-family: "돋움"; */
	color: red;
	text-decoration: none;
}

.before_after_year:hover {
	font-size: 20pt;
/* 	font-family: "돋움"; */
	color: red;
	text-decoration: none;
}

.this_month {
	margin: 10px;
}

.date_inout {
	margin: 0px;
	margin-bottom: 5px;
	margin-left: 12px;
	font-size: 12px;
	font-weight: bold;
	float:right;
}
.insum{	/* 수입 */
	color: blue;
}

.outsum{	/* 지출 */
	color:red;
}

.calendar_body .info_td{	/* info_td */
	width:100%;
	height:30px;
}

.calendar_body .info span{
	font-size: 15pt;
	/* float:left; */
}

