/* 가계부 월별 보기 Body CSS  */

.ledger_body .bottom .view_before{		/* 이전으로 갈 탭 */
	width: 10%;
	height: 100%;
	float: left;
	padding-left: 10px;
	background-image: url('../ledgerimg/arrowleft_hover.png');
	background-repeat: no-repeat;
	background-position:conter center;
	background-size:100% 100%;
	
}

.ledger_body .bottom .view_center{		/* 중앙에 들어갈 내용 */
/* border: 1px solid red; */
	width: 78%;
	height: 100%;
	float: left;
}

.ledger_body .bottom .view_after{		/* 다음으로 갈 탭 */

	width: 10%;
	height: 100%;
	float: right;
	background-image: url('../ledgerimg/arrowright_hover.png');
	background-repeat: no-repeat;
	background-position:conter center;
	background-size:100% 100%;
}


.ledger_body .bottom .view_center .info {	/* 해당 년도 */
	width: 100%;
	height: 8%;
	padding: 15px 0px 0px 0px;
	text-align: center;
	font-size: 25px;
}

.ledger_body .bottom .view_center .contents {/* 컨텐츠에 적용 */
	width: 100%;
	height: 80%;
	/* margin: 20px 50px 20px 50px; */
	text-align: center;
}

.ledger_body .bottom .view_center .contents .contents_top{	/* 날짜  */
	width: 100%;
	height: 6%;
	margin: 10px 0px 10px 0px;
}

.ledger_body .bottom .view_center .contents .contents_top .title{	/* 월, 수입, 지출, 합계 타이틀 */
	width: 25%;
	height: 100%;
	float: left;
	background-color: #6C6C6C; 
	color: white;
	font-weight: bold;
	vertical-align: middle;
	font-size: 15px;
	
}

.ledger_body .bottom .view_center .contents .contents_center{	/* 데이터 들어갈 공간 */
	width: 100%;
	height: 90%;
	
}

.ledger_body .bottom .view_center .contents .contents_center .contentline{	/* 월,수입,지출, 합계 데이터 */
	width: 100%;
	height: 8%;
	background-color: #EAEAEA; 
	margin: 2px 0px 2px 0px;
}

.ledger_body .bottom .view_center .contents .contents_center .contentline:hover{	/* 마우스 hover 이벤트 */
	background-color: #BDBDBD;
}
	

.ledger_body .bottom .view_center .contents .contents_center .contentline .month{	/* 월 */
	width: 25%;
	height: 100%;
	float: left;
	vertical-align: middle;
	padding: 2px 0px 0px 0px;
	font-size: 15px;
}

.ledger_body .bottom .view_center .contents .contents_center .contentline .income{	/* 수입 */
	width: 25%;
	height: 100%;
	float: left;
	color:blue;
	vertical-align: middle;
	padding: 2px 0px 0px 0px;
	font-size: 15px;
}

.ledger_body .bottom .view_center .contents .contents_center .contentline .spand{	/* 지출 */
	width: 25%;
	height: 100%;
	float: left;
	color: red;
	vertical-align: middle;
	padding: 2px 0px 0px 0px;
	font-size: 15px;
}

.ledger_body .bottom .view_center .contents .contents_center .contentline .total{	/* 합계 */
	width: 25%;
	height: 100%;
	float: left;
	vertical-align: middle;
	padding: 2px 0px 0px 0px;
	font-size: 15px;
}






