/* 가계부 상세보기 Body CSS */

.ledger_body ul {	/* ul 속성 */
	padding: 0;
	margin: 30px 50px 30px 50px;
	list-style: none;
}

.ledger_body ul li {	/* li 속성 */
	text-align: left;
	padding: 5px;
	height: 30px;
}

.ledger_body ul li .text_subject {	/* 항목의 이름 */
	width: 20%;
	height: 100%;
	float: left;
	font-size: 18px;
	vertical-align: middle;
	margin-top: 3px;
	font-weight: bold;
}

.ledger_body ul li .text_desc {	/* 항목의 내용 */
	
	height: 100%;
	width: 78%;
	float: left;
	font-size: 18px;
}


.ledger_body ul .button_li {		/* 버튼의 위치 */
/* border: 1px solid red; */
	padding-top: 15px;
	width: 100%;
}

.ledger_body .bottom .ledger_btn {	/* 버튼 설정 */
	width: 50% ;
	height: 45px;
	font-size: 18px;
	background-color: gray;
	color: white;
	float: left;
	border-radius: 12px; 
}

.ledger_body .bottom .ledger_btn:hover {/* 버튼 hover 이벤트 */

	color: #ff8400;

}
