/* 가계부 하루보기 Body CSS */


.ledger_body .bottom .view_center{		/* 다음으로 갈 탭 */

	width: 80%;
	height: 100%;
	float: left;
}

.ledger_body .bottom .view_center .info {	/* 당일 수입 지출 들어갈 곳 */
	width: 100%;
	height: 10%;
	padding: 10px 15px 10px 15px;
	text-align: center;
	font-size: 20px;
}

.ledger_body .bottom .view_center .contents {/* 컨텐츠에 적용 */
	width: 100%;
	height: 79%;
	/* margin: 20px 50px 20px 50px; */
	text-align: center;
	
}

.ledger_body .bottom .view_center .contents .contents_top{	/* 날짜  */
	width: 100%;
	height: 15%;
}

.ledger_body .bottom .view_center .contents .contents_center{	/* 항목 */
	width: 100%;
	height: 65%;
}



.ledger_body .text_subject {	/* 날짜와 항목 text에 적용 */
	width: 10%;
	height: 100%;
	float: left;
	font-size: 18px;
	vertical-align: middle;
/* 	margin-top: 3px; */
	font-weight: bold;
}

.ledger_body .text_desc {	/* 날짜내용 */
	
	height: 100%;
	padding-top: 3px;
	width: 89%;
	float: left;
	font-size: 18px;
	text-align: left;
	
}

.ledger_body .text_desc2 {	/* 항목의 내용 */
	
	height: 200px;
	width: 89%;
	float: left;
	font-size: 18px;
	text-align: left;
	
}

.auto {overflow: auto;} 

.ledger_body .text_type1 {	/* 날짜 */
	height: 100% ;
	width: 100%;
	
}

.ledger_body .view_center .contents .contents_center .text_desc2 .cateinout{	/* 항목 + 수입-지출  */
	height: 100% ;
	width: 100%;
}

.ledger_body .view_center .contents .contents_center .text_desc2 .cateinout .inner{	/* 항목 + 수입-지출 감싸는 div(onclick용)  */
	height: 15% ;
	width: 100%;
	margin-bottom: -30px;
}

.ledger_body .view_center .contents .contents_center .text_desc2 .cateinout .inner:hover{ /* 항목 + 수입-지출 마우스 hover */
	background-color: #EAEAEA;
}

.ledger_body .view_center .contents .contents_center .text_desc2 .cateinout .inner .cate{	/* 항목  */
	height: 100% ;
	width: 25%;
	float: left;
	
}

.ledger_body .view_center .contents .contents_center .text_desc2 .cateinout .inner .inout{	/* 수입-지출 */
	height: 100% ;
	width: 74%;
	float: left;
}

.ledger_body .bottom .view_center .contents .contents_bottom{	/* 버튼 자리 */
	width: 100%;
	height: 20%;
	vertical-align: middle;
}

.ledger_body .bottom .view_center .contents .contents_bottom .ledger_insertform_btn{	/* 버튼 설정 */
	width: 100%;
	height: 45px;
	margin-top:-40px;
	font-size: 18px;
	background-color: gray;
	color: white;
	border-radius: 12px; 
}

.ledger_body .bottom .view_center .contents .contents_bottom .ledger_insertform_btn:hover{	/* 버튼 hover 이벤트 */
	
	color:#ff8400;
}

.income{	/* 수입 */
	font-color:red;
}

.spand{	/* 지출 */
	font-color:bule;
}



