.container {
	width: 100%;
	height: 100%;
}
.modal{
	
}
.inner{
	width: 1100px;
	height: 600px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 100px;
}
.in{	/* 전-중-후 div */
	margin: 30px;
	width: 300px;
	height: 500px;
	border: 1px solid;
	float: left;
	cursor: pointer;
}
div#glayLayer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	filter: alpha(opacity = 60);
	opacity: 0.60;
}

/*이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표지되지 않도록 설정*/
div#overLayer {
	display: none;
	position: fixed;
	width: 800px;
	height: 600px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#overLayer_s{
	display: none;
	position: fixed;
	width: 600px;
	height: 600px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ol_top{
	width: 100%;
	height: 50px;
	background-color: black;
}
.ol_top_s{
	width: 650px;
	height: 50px;
	background-color: black;
}
.ol_center{
	width: 80%;
	height: 550px;
	background-color: white;
	float: left;
}
.ol_center_s{
	width: 650px;
	height: 550px;
	background-color: white;
	float: left;
}

.searchListdiv{	/* 검색 결과 감싸는 div (스크롤) */
	width: 99%;
	height: 99%;
	background-color: white;
	overflow: auto;
	border: solid 1px black;
	margin: auto;
}

.ol_center .searchListdiv .searchList{	/* 검색 결과 div */
	width: 98%;
	height: 8%;
	background-color: #DBDBDB;
	float: left;
	border: solid 1px red;
}

.ol_center .searchListdiv .searchList:hover{	/* 검색 결과 리스트 hover 이벤트 */
	
	background-color: #8C8C8C;
}

.ol_left{	/* 이전 div */
	width: 10%;
	height: 550px;
	background-color: #8C8C8C;
	float: left;
}

.ol_left:hover{	/* 이전 div hover div */
	background-color: #DBDBDB;
}

.ol_right{
	width: 10%;
	height: 550px;
	background-color: #8C8C8C;
	float: left;
}

.side{
	width: 10%;
	height: 550px;
	background-color: white;
	float: left;
}

#imgFile{
	width: 98%;
	height: 200px;
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
}
.imgFile img{
	width:100%;
	height: 100%;
}
.ol_right:hover{	/* 다음 div hover div */
	background-color: #DBDBDB;
}

.category{
	width: 750px;
	height: 50px;
	display: inline-block;
    float: left;
}
.category_s{
	width: 600px;
	height: 50px;
	display: inline-block;
    float: left;
}

.category label{
	width: 150px;
	height: 50px;
	font-size: 25px;
	display: inline-block;
    float: left;
    margin-left: 10px;
}

.cancel_c{
	width: 50px;
	height: 50px;
	display: inline-block;
    float: left;
}

#cancel{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
	border: none;
	outline: 0;
	cursor: pointer;
}

#cancel{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
	border: none;
	outline: 0;
	cursor: pointer;
	float: left;
}

.contents{
	width: 98%;
	min-height: 250px;
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
}
.contents label{
	min-height: 200px;
	font-size: 15px;
	white-space: pre-wrap;
}

.subject label{
	font-size: 25px;
}

.insert_btn{
	margin-top: 10px;
	margin-right: 15px;
}

.s_result{
	width: 400px;
	margin: auto;
}

.v_subject{
	height: 10%;
}
.v_img{
	height: 30%;
}
.v_contents{
	height: 60%;
}
.v_subject,.v_img,.v_contents{
	border: 1px solid;
	width: 80%;
	margin: auto;
}

.btn{
	width: 100px;
	height: 30px;
	background-color: white;
	color: #6a6763;
	border: 2px solid #6a6763;
	border-radius: 20px;
}