@charset "UTF-8";

html, body{width:100%; position: absolute; margin:0; padding:0; display:block; /* overflow:hidden; */ }

header, footer,  nav
{
	margin: 0;
	background-color: #6a6763;
	box-sizing: border-box;
	display: table;
	width:100%;
}
.frame, section, footer{
	margin: 0;
	padding:0;
	width:100%;
	box-sizing: border-box;
	display: table;
}
#wrapper
{
	/* overflow-y: scroll; */
	width: 100%;
	text-align: center;
	min-height: 1000px;
}
a
{
	color: white;
	text-decoration:none;
	
}
a:hover
{
	color: #ff8400;
}
a:after
{
	color: white;
}
header
{
	border-bottom: 4px white solid;
	height: 65px;
	width: 100%;
}
#body
{
	border-bottom: 4px white solid;
	min-height: 700px;
	width: 100%;
}
#footer
{
	height: 10%;
	width: 100%;
}
#menu
{
	float: left;
	border-right: 4px white solid;
	height: 100%;
	width: 20%;
}
#content
{
	display:table-cell;
	float: left;
	min-height: 700px;
	width: 100%;
}
nav	/* 네비 바 */
{
	height: 60px;
	border-bottom: 4px white solid;
	min-height: 50px;
	
}

.logo_img{
	height:45px;
	margin: 15px 0px 0px 10px;
	float:left;
	cursor:pointer;
}

.profile_img{	/* 프로필 이미지 */
	height:50px;
	width:50px;
	margin: 10px 10px 5px 8px;
	background-image: url('../img/basic_img.png');
	background-repeat: no-repeat;
	background-position:conter center;
	background-size:100% 100%;
	float:right;
	cursor:pointer;
	border-radius: 50%;
	border: solid white 1px;
}

nav>ul	/* nav 전체 */
{
	margin-left: 120px;
	padding: 0px;
	height: 90%;
	width: 70%;
	float:left;
	overflow: hidden;
}
nav>#lv1>li	/* nav 개개인 항목 */
{
	/* margin-left:10px; */
	/* margin-top:10px; */
	float: left;
	position: relative;
	list-style: none;
	height: 60%;
	width: 15%;
	text-align: center;
	vertical-align: middle;
	color:white;
}
nav>#lv1>li>a
{
	margin: 0px;
	padding : 0px;
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	vertical-align: middle	;
}
nav span
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
nav>#lv2	/* 레벨 2메뉴바 */
{
	background-color: transparent;
    z-index: 10;
    position: absolute;
    padding: 0px;
    width: 1200px;
    margin-top: 50px;
    margin-left: 77px;
    display: block;
    float: left;
    
}
nav>#lv2>ul.lv2-list
{
	margin-left: 0px;
	margin-top:0px;
	padding-top: 17px;
	padding-left: 0px;
	float: left;
	width: 14%;
	height: 4px;
	visibility: hidden;
}
nav>#lv2>ul.lv2-list>li	/* 레벨 2 메뉴바 메뉴 */
{
 	background-color: #6a6763;
	z-index: 10;
	width : 100%;
	height : 39px;
	list-style: none;
	text-align: center;
}
/* nav>#lv1>li:hover, nav>#lv1>li>a:hover
{
	color: #ff8400;
	background-color: #6a6763;
} */
nav.gnb-fixed-top
{
	position: fixed;
	top: 0;
	z-index: 1000;
	border-bottom: 0px;
}


nav #progressbar
{
	height: 3px;
	width: 100%;
	visibility: hidden;
	background-color: #ff8400;
	float: left;
	margin-top:-25px;
}
footer
{
	height: 76px;
	width: 100%;
}
/* aside
{
	display:table-cell;
	float: left;
	min-height: 700px;
	width: 20%;
} */
#home
{
	border-bottom: 4px white solid;
	height: 395px;
	width: 100%;
}
#home1, #home2
{
	float: left;
	height: 100%;
	width: 648px;
	background-color: #ff8400;
}
#home1
{
	width: 652px;
	border-right: 4px white solid;
}
footer span
{
	color: #6a6763;
}